---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
    import NetlifyIdentity from './NetlifyIdentity.svelte'
---
<footer class="footer">
    <nav class="nav">
        <div> <a href={`${ SITE.githubUrl }'/copyright-notice.txt'`} title={`'2022  &copy; Copyright notice'`}>2022  &copy; Copyright notice</a> |  <a href={ SITE.githubUrl } title={`${ SITE.title }'s Github URL'`}>{ SITE.title }</a>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
